// COLORS
$skyformation-logo-red: #ef5350;
$skyformation-logo-blue: #42a5f5;
$skyformation-blue: #64b5f6;
$skyformation-green: #92d94c;
$skyformation-orange: #f78d1e;
$skyformation-red: #f26255;
$skyformation-gray: #31353d;

$skyformation-monochrome-gray-darker: #000;
$skyformation-monochrome-gray-dark: #444;
$skyformation-monochrome-gray: #999;
$skyformation-monochrome-gray-light: #ccc;
$skyformation-monochrome-gray-lighter: #e0e0e0;

.skyformation-logo-red {
  color: $skyformation-logo-red;
}
.skyformation-logo-blue {
  color: $skyformation-logo-blue;
}

.skyformation-blue {
  color: $skyformation-blue;
}
.skyformation-green {
  color: $skyformation-green;
}
.skyformation-orange {
  color: $skyformation-orange;
}
.skyformation-red {
  color: $skyformation-red;
}
.skyformation-gray {
  color: $skyformation-gray;
}

.skyformation-monochrome-gray-darker {
  color: $skyformation-monochrome-gray-darker;
}
.skyformation-monochrome-gray-dark {
  color: $skyformation-monochrome-gray-dark;
}
.skyformation-monochrome-gray {
  color: $skyformation-monochrome-gray;
}
.skyformation-monochrome-gray-light {
  color: $skyformation-monochrome-gray-light;
}
.skyformation-monochrome-gray-lighter {
  color: $skyformation-monochrome-gray-lighter;
}
