<h1>different template</h1>

<style>
	.headers,
	.tableWrapper{
		display:flex;
	}

	.headers div,
	.tableWrapper div{
		flex:1;
	}

</style>

<div class="plansHeader headers"  style="border:3px solid black;">
			<div class="featuresHeader header">
				
			</div>
	{{  for(var plan in plans) { }}		        		
    		<div class="header">
				{{=plans[plan].name}}
    		</div>

	{{ 	}	}}
</div>

<div class="priceHeaders headers"  style="border:3px solid black;">
			<div class="price header">
				Price
			</div>
	{{  for(var plan in plans) { }}		        		
    		<div class="header">
				{{=plans[plan].features.map["recurring"].price}} $ 
    		</div>

	{{ 	}	}}
</div>

<div class="ccHeaders headers"  style="border:3px solid black;">
			<div class="price header">
				Credit Cards
			</div>
	{{  for(var plan in plans) { }}		        		
    		<div class="header">
				{{=plans[plan].credit_card}} 
    		</div>

	{{ 	}	}}
</div>


<div class="tableWrapper">
			
			<div class="featuresCol" style="border:3px solid black;">
				{{  for(var item in features) { }}
		        			        		
		        		<div>
							{{=features[item]}}
		        		</div>

		        {{  } }}
	
			</div>



			
	{{  for(var plan in plans) { }}
			<div class="planCol"  style="border:3px solid black;">
		        			        		

		        		<div class="features">
		        			{{  for(var item in features) { }}

		        				
		        					{{	if(plans[plan].features.map[features[item]].name) {	 }}

			        					<div class="featureItem">
			        						<span class="nr-check nr-yes ion-checkmark"></span>
				        				</div>

			        				{{	}	}}

			        				{{	if(plans[plan].features.map[features[item]].missingFeature){	}}
										<div class="featureItemMissing">
											<span class="nr-check nr-no ion-close"></span>
			        					</div>
									{{	}	}}			        						        				


		        			{{	}	}}
		        		</div>

		        		<div class="discount" style="border:1px solid gray;">
		        			<div class="header">
		        			</div>
		        			{{for (item in plans[plan].discounts.data) { }}
								<div class="header">
									<div>{{=plans[plan].discounts.data[item].days_to_apply}} days</div>
									<div>FREE TRIAL</div>
					    		</div>
							{{	}	}}
		        		</div>
	
			</div>
	{{  } }}
	
</div>
