<div id="pricing-table">
	<div class="simple_3_tier">
		<div>
		  <table>
		    <thead>
		      <tr>
		      	<th></th>

		      	{{  for(var plan in plans.data) { }}
					<td class="nr-plan-name">
					{{=plans.data[plan].name}}
					</td>
				{{ } }}

		        
		      </tr>
		    </thead>
		    <tbody>
		      <tr class="nr-price-row">
		        <th class="nr-price-label">Price</th>
		     	
		        {{  for(var plan in plans.data) { }}
		        	
		        	{{  for(var feature in plans.data[plan].features.data) { }} 
		        	
		        	<td class="nr-price" style="display: table-cell;">
		        		${{=plans.data[plan].features.data[feature].price}}
						<span class="nr-price-period">/month</span>
		        	</td>
		        	
		        	{{	 }	}}

		        {{  } }}

		     	
		     	<!--td class="nr-price plan-gold" style="display: table-cell;">
		     		$10<span class="nr-price-period">/month</span>
		     	</td-->
		      </tr>

		      <tr class="nr-cc" style="display: table-row;">
		        <th class="nr-cc-title">Credit Card</th>
		        {{  for(var plan in plans.data) { }}
		        	{{ if(plans.data[plan].credit_card) { 	}}
				<td><span class="nr-check nr-yes ion-checkmark"></span></td>
					{{ }else { }}
				<td><span class="nr-check nr-no ion-close"></span></td>
					{{ } }}
				{{ } }}
		      </tr>
		    </tbody>
		    <tfoot>

		    <tr class="nr-select-row">
		      	
		      	{{  for(var plan in plans.data) { }}
				
			      <td class="nr-select-cell">
			        <a href="javascript:void(0)" class="nr-plan-select" data-id="{{=plans.data[plan].id}}">Select</a>
			      </td>
				{{ } }}

			</tr>

				<tr class="nr-trial">
	        		<th></th>
	        		{{  for(var plan in plans.data) { }}
	        			<th></th>
	        		{{ } }}
      			</tr>
		      
		    </tfoot>
		  </table>
		</div>
		<div class="nr-nurego-tag-line">
			Pricing Table Crafted by <a href="http://www.nurego.com">Nurego</a>
		</div>
	</div>
</div>


<!--div style="width:300p;">
	<div>see our price plans</div>
	<div>
		<select>
			{{  for(var plan in plans.data) { }}
				<option data-id="{{=plans.data[plan].id}}">
					{{=plans.data[plan].name}}
				</option>
			{{ } }}
		</select>
	</div>
	<label>
		Email: <input type="email" id="email" placeolder="example@email.com" class="form-control"/>	
	</label>
	
	<button class="button btn">subscribe</button>
</div-->
